.row{
  
  display: grid;
  grid-template-columns: repeat(4,23%);
  gap: 7px;
  
}

.App .calculator{
  border: 1px solid gray;
  width: 230px;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.container{
  width: 215px;
  height: 100px;
  border:1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  align-content: flex-end;
  text-align: right;
  padding-right: 10px;
  padding-left: 5px;
  overflow: hidden;
}
button{
  border-radius: 50%;
  width: 50px;
  border: 0;
  height: 50px;
  font-size: 20px;
  background-color: rgb(83, 82, 82);
  color: white;
}
button:hover{
  background-color: rgb(128, 127, 127);
}
.row button:first-child, .row button:nth-child(2), .row button:nth-child(3){
  background-color: rgb(189, 189, 189);
  color: black;
}
.row button:first-child:hover, .row button:nth-child(2):hover, .row button:nth-child(3):hover{
  background-color: rgb(221, 221, 221);
}
.row button:nth-child(4), .row button:nth-child(8), .row button:nth-child(12), .row button:nth-child(16), .row button:last-child{
  background-color: rgb(255, 183, 48);
  color: white;
  
}
.row button:nth-child(4):hover, .row button:nth-child(8):hover, .row button:nth-child(12):hover, .row button:nth-child(16):hover, .row button:last-child:hover{
  background-color: rgba(255, 183, 48, 0.834);
  
}
.row button:nth-child(17){
  width: 105px;
  border-radius: 50px;
  text-align: left;
  padding-left: 20px;
}
